.cocktail-button {
    margin: 10px;
    padding: 3px;
    height: auto;
}
/* .searched-cocktails {
    display: flex;

} */

/* 
body {
    background-image: url(/assets/images/barphoto.jpg);
    background-size: cover;
} */
/* 
 #modal1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  */

